.idea/

out/
.gradle

build.gradle
build
ja/bin/

py/scraping/localCloudCredit/target.html
py/scraping/__pycache__
py/scraping/maff/__pycache__
py/.vscode

node_modules
py/scraping/metro/poster-place.csv
